---
layout: default
title: home
---

<a name="top" title="Top of Page"></a>

<header id="header">
  <div class="header-content">
    <div class="computer">
      <div class="content monitor">
        <div class="monitor-content">
          <h1 class="main-header">TypeIt</h1>
          <span id="typeit-box"></span>
        </div>
        <a id="typeit-box-code-link" title="View Source for this Instance">view the code for this instance</a>
      </div>
      <div class="base">
        <div class="power"></div>
        <span class="disclaimer">Fully compatible with jQuery 3.0!</span>
      </div>
    </div>
  </div>
  <div class="CTALinks">
  <a href="https://github.com/alexmacarthur/typeit" title="TypeIt on Github">
    <div class="github-icon-holder">
      {% include icon-github.svg %}
    </div>
    <span class="github-text">View on GitHub</span>
  </a>
  <a href="http://macarthur.me/typeit/docs" title="TypeIt Documentation">
    <div class="github-icon-holder">
      {% include icon-book.svg %}
    </div>
    <span class="github-text">Read the Documentation</span>
  </a>
  <a href="https://twitter.com/home?status=Check%20out%20TypeIt%3A%20The%20most%20versatile%20jQuery%20animated%20typing%20plugin%20on%20the%20planet.%20http%3A//macarthur.me/typeit" title="Tweet About TypeIt">
    <div class="github-icon-holder">
      {% include icon-twitter.svg %}
    </div>
    <span class="github-text">Share on Twitter</span>
  </a>
  <div id="typeit-box-code">
    <i id="typeit-box-code-close">
      {% include icon-times.svg %}
    </i>
    <span>
      <em>// call .typeIt() on my element and set global options</em><br>
      $('#typeit-box').typeIt({<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;speed: 100,<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;startDelay: 1250<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;callback(): function() {<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$('#typeit-box-code-link').addClass('is-visible');<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
      })<br>
      <div class="queue">
        .tiType('A jQuery pl')<br>
        .tiPause(500)<br>
        .tiDelete(12)<br>
        .tiPause(500)<br>
        .tiType('The &lt;strong&gt;most versatile&lt;/strong&gt; jquery')<br>
        .tiPause(200)<br>
        .tiDelete(5)<br>
        .tiType('Query typing plugin on the net.')<br>
        .tiPause(500)<br>
        .tiDelete(11)<br>
        .tiPause(350)<br>
        .tiType('on the ')<br>
        .tiPause(600)<br>
        .tiType('&lt;em&gt;planet.&lt;/em&gt;');
      </div>
      <span class="work"><em>// the queue I want to type</em></span>
    </span>
  </div>
</header>

<main class="Main--home">

  <section class="Section--home">

    <div class="Container">

      <h2 class="Title--description">About TypeIt</h2>

      <p>
        TypeIt is the most versatile, user-friendly jQuery animated typing plugin on the planet. In simple use, it allows you to type single or multiple strings that break lines, delete &amp; replace each other, and it even handles HTML tags &amp; entities.
      </p>

      <p>
        For more advanced, controlled typing effects, TypeIt comes with companion functions that can be chained to tweak your typing down to the smallest character, enabling you to type not just a few strings of text, but an entire narrative, with complete control over speed,  characters, line breaks, deletions, pauses, everything.
      </p>
     
      <span id="description"></span>

    </div>

  </section>

  <section class="Section--home">
    <div class="Container">

    {% include partial-demo_form.html %}

    <a id="scrollTo"></a>
    </div>
  </section>

  <section class="Section--home">

    <div class="Container">

      <h2>License Options</h2>

      <div class="setup-blocks">

        <div class="setup-block">
          <h3>Personal</h3>
          <p class="description">Use TypeIt all you want for any of your personal, non-commercial projects.</p>
          <a href="#installation" class="Button" title="TypeIt Personal License">Get It</a>
        </div>

        <div class="setup-block">
          <h3>Single Commercial</h3>
          <p class="description">Use TypeIt for a single commercial project. Includes lifetime support.</p>
          <a href="http://www.uplabs.com/posts/typeit-a-jquery-animated-typing-plugin" class="Button" title="TypeIt Commercial License">Get It</a>
        </div>

        <div class="setup-block">
          <h3>Extended Commercial</h3>
          <p class="description">Use TypeIt for an unlimited number of commercial projects. Includes lifetime support.</p>
          <a href="http://www.uplabs.com/posts/typeit-a-jquery-animated-typing-plugin" class="Button" title="TypeIt Extended Commercial License">Get It</a>
        </div>

      </div>

    </div>

  </section>

  <section class="Section--home" id="installation">

    <div class="Container">

    <h2>Easy Installation Steps</h2>

    <div class="install-blocks">

      <div class="install-block">

        <div class="step-num">1</div>
        <h3>Load jQuery &amp; TypeIt on Your Page</h3>

        <p>Available from <a href="https://github.com/alexmacarthur/typeit" title="TypeIt on Github">Github</a>, <a href="https://www.npmjs.com/package/typeit" title="TypeIt on npm">npm</a>, <a href="http://www.uplabs.com/posts/typeit-a-jquery-animated-typing-plugin" title="TypeIt on UpLabs">UpLabs</a>, or <a href="https://www.jsdelivr.com/projects/jquery.typeit" title="TypeIt CDN">CDN</a> (recommended). </p>

        <div class="CodeBlock">
          <span>
            &lt;script src="https://code.jquery.com/jquery-3.0.0.min.js"&gt;&lt;/script&gt;
            <br>
            <br>
            &lt;script src="https://cdn.jsdelivr.net/jquery.typeit/4.2.3/typeit.min.js"&gt;&lt;/script&gt;
          </span>
        </div>

      </div>

      <div class="install-block">

        <div class="step-num">2</div>
        <h3>Call TypeIt</h3>

        <p>Select an element, call typeIt(), and define your options.</p>

        <div class="CodeBlock">
          $('#element').typeIt({<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// options<br>
          });
        </div>

      </div>

    </div>

  </div>

  </section>

  <section class="Section--home">

    <div class="Container">
    <h2 class="Title--description">Simple Usage</h2>
    <p class="Description">Just select an empty HTML element, pass in your options, and you're ready for typing effects like this.</p>

    <div class="Demo">

      <div class="left">
        <h3>Type a simple, single string.</h3>

        <a class="Button Button--green" id="btn-example1" title="Rerun Example">Rerun</a>
      </div>

      <div class="right">

        <div class="CodeBlock CodeBlock--input">
          <small>Input</small>

            &lt;p id=&quot;example1&quot;&gt;&lt;/p&gt;

            <br>
            <br>

             $('#example1').typeIt({<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;strings: 'This is a simple string.',<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;speed: 50<br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;autoStart: false<br>
            });
        </div>

        <div class="CodeBlock CodeBlock--output">
          <small>Output</small>
          <p id="example1"></p>
        </div>

      </div>
    </div>

  </div>

  </section>

  <section class="Section--home">

    <div class="Container">

    <div class="Demo">

      <div class="left">

        <h3>Type multiple strings that replace each other.</h3>

        <a class="Button Button--green" id="btn-example2" title="Rerun Example">Rerun</a>

      </div>

      <div class="right">

        <div class="CodeBlock CodeBlock--input">
          <small>Input</small>

          &lt;p id=&quot;example2&quot;&gt;&lt;/p&gt;

          <br>
          <br>

           $('#example2').typeIt({<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;strings: ["This is a great string.", "But here is a better one."],<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;speed: 50,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;breakLines: false,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;autoStart: false<br>
          });

        </div>

        <div class="CodeBlock CodeBlock--output">
          <small>Output</small>
          <p id="example2"></p>
        </div>

      </div>

    </div>
  </div>
  </section>

  <section class="Section--home">

    <div class="Container">

    <div class="Demo">

      <div class="left">

        <h3>Type multiple strings that break to new lines.</h3>

        <a class="Button Button--green" id="btn-example3" title="Rerun Example">Rerun</a>

      </div>

      <div class="right">

        <div class="CodeBlock CodeBlock--input">
          <small>Input</small>

          &lt;p id=&quot;example3&quot;&gt;&lt;/p&gt;

          <br>
          <br>

           $('#example3').typeIt({<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;strings: ["This is a great string.", "And here we have another great string.."],<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;speed: 50,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;autoStart: false<br>
          });

        </div>

        <div class="CodeBlock CodeBlock--output">
          <small>Output</small>
          <p id="example3"></p>
        </div>

      </div>

    </div>

  </div>

  </section>
  
  <section class="Section--home">

    <div class="Container">
    <h2 class="Title--description">Advanced Usage</h2>
    <p class="Description">If you want to control every character of your strings, a series of companion functions are built right into TypeIt. You'll be able to do things like partially delete strings, change speed on the fly, break lines whenever you like, and more.</p>

    <div class="Demo">

      <div class="left">
        <h3>Don't just type a few strings. Create an entire, dynamic narrative.</h3>

        <a class="Button Button--green" id="btn-example4" title="Rerun Example">Rerun</a>
      </div>

      <div class="right">

        <div class="CodeBlock CodeBlock--input">
          <small>Input</small>

            &lt;p id=&quot;example4&quot;&gt;&lt;/p&gt;

            <br>
            <br>

            $('#example4').typeIt({<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;speed: 50,<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;autoStart: false<br>
            })<br>
            .tiType('Wll')<br>
            .tiPause(500)<br>
            .tiDelete(2)<br>
            .tiType('ell, ')<br>
            .tiPause(1000)<br>
            .tiType('I guess I\'m typing..')<br>
            .tiBreak()
            .tiPause(750)<br>
            .tiType(' but I don\'t really know what to say')<br>
            .tiSettings({speed: 700})<br>
            .tiType('...')<br>
            .tiPause(750)<br>
            .tiSettings({speed: 50})<br>
            .tiDelete()<br>
            .tiType('IS THAT SO &lt;strong&gt;WRONG??&lt;/strong&gt;');
        </div>

        <div class="CodeBlock CodeBlock--output">
          <small>Output</small>
          <p id="example4"></p>
        </div>

      </div>
    </div>

  </div>

  </section>

  <section class="Section--home">

    <div class="Container">
    <h3>Ready to learn more about TypeIt?</h3>
    <a class="Button" href="http://macarthur.me/typeit/docs" title="TypeIt Documentation">View the Docs</a>
    <br>
    <a href="#top" title="Back to Top">Back to Top</a>

  </div>
  </section>

  <section class="Section--home">
    <div class="Container">
    <h3>Like it? Hate it with a burning, insatiable passion? Let me know!</h3>
  </div>
  </section>

</main>
