  <form id="TIInput">

    <h2 class="ti-header">Try It!</h2>
    <p class="description">To give you a very small taste of what TypeIt and its settings can do, use the playground here. For more information on how each setting works, go to the <a href="http://macarthur.me/docs/#options" title="TypeIt Documentation">docs.</a></p>

    <div class="options-wrapper">

      <div class="options-holder">

        <div class="ti-option-box">
          <label>speed</labeL>
          <input class="ti-option" type="number" id="iSpeed" placeholder="speed">
        </div>

        <div class="ti-option-box">
          <label>html</labeL>
          <select class="ti-option" id="iHTML">
            <option value="true" selected>True</option>
            <option value="false">False</option>
          </select>
        </div>

        <div class="ti-option-box">
          <label>cursorSpeed</labeL>
          <input class="ti-option" type="number" id="iCursorSpeed" placeholder="cursorSpeed">
        </div>

        <div class="ti-option-box">
          <label>cursor</labeL>
          <select class="ti-option" id="iCursor">
            <option value="true" selected>True</option>
            <option value="false">False</option>
          </select>
        </div>

        <div class="ti-option-box">
          <label>deleteDelay</labeL>
          <input class="ti-option" type="number" id="iDeleteDelay" placeholder="deleteDelay">
        </div>

        <div class="ti-option-box">
          <label>breakLines</labeL>
          <select class="ti-option" id="iBreakLines">
            <option value="true" selected>True</option>
            <option value="false">False</option>
          </select>
        </div>

        <div class="ti-option-box">
          <label>breakDelay</labeL>
          <input class="ti-option" type="number" id="iBreakDelay" placeholder="breakDelay">
        </div>

        <div class="ti-option-box">
          <label>lifeLike</labeL>
          <select class="ti-option" id="iLifeLike">
            <option value="true" selected>True</option>
            <option value="false">False</option>
          </select>
        </div>

        <div class="ti-option-box">
          <label>startDelay</labeL>
          <input class="ti-option" type="number" id="iStartDelay" placeholder="startDelay">
        </div>

        <div class="ti-option-box">
          <label>loop</labeL>
          <select class="ti-option" id="iLoop">
            <option value="true">True</option>
            <option value="false" selected>False</option>
          </select>
        </div>

        <div class="ti-option-box">
          <label>loopDelay</labeL>
          <input class="ti-option" type="number" id="iLoopDelay" placeholder="loopDelay">
        </div>

        <div class="ti-option-box">
          <label>startDelete</labeL>
          <select class="ti-option" id="iStartDelete">
            <option value="true">True</option>
            <option value="false" selected>False</option>
          </select>
        </div>

      </div>

      <textarea rows="3" id="stringTI" placeholder="Enter one or multiple strings per line. You can use HTML too!"></textarea>

    </div>

    <input class="Button Button--green" type="submit" id="TISubmit" value="Type It!">

  </form>

  <div id="TIOutputBox">

    <div id="TIOutput">

      <span id="tempText">output box</span>

    </div>

  </div>
