.Docs {
	@extend .Container;
	@extend %clearfix;
}

.Main--docs {
	float: left;
	width: 75%;
    padding-left: 2rem;

    @media screen and (max-width: 768px) {
    	width: 66.66%;
    }

    @media screen and (max-width: 600px) {
    	width: 100%;
    	padding: 0;
  	}

  	ul {
  		padding: 0;
  	}

	section {
		text-align: left;

		h3 {
			margin-top: 0;
		}

		& + section {
			margin-top: 2rem;
		}
	}

	li {
		@extend p;
		position: relative;
		display: inline-block;
	    margin-left: 1.25rem;
	    width: 100%;

		&:before {
			content: '\2022';
			position: absolute;
			left: -1.25rem;
		}
	}

	p {
	    margin-bottom: 1rem;
	}

	table {
	 	* {
	 		@extend p;
	 	}
	}
}

.Docs-sidebar {
	float: left;
	width: 25%;

	@media screen and (max-width: 768px) {
    	width: 33.33%;
    }

	@media screen and (max-width: 600px) {
		background: rgba(white, .9);
		transform: scale(.95);
    	width: 100%;
		position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 1;
  	}

    ul {
    	padding: 1rem 3rem 2rem;
    	background: $light-gray;

    	li {
    		@media screen and (max-width: 600px) {
    			text-align: center;
    		}
    	}

    	@media screen and (max-width: 600px) {
    		background: none;
    	}
    }
}

#menu-toggle {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	z-index: 2;
	background: white;
	border-bottom: 2px solid $light-gray;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;

	@media screen and (max-width: 600px) {
		display: block;
	}
}

.code {
	@extend p;
    background: $light-gray;
    padding: 1rem;
    border-radius: 3px;
    margin-top: 1rem;
    display: block;
    word-wrap: break-word;

    &.inline {
    	display: inline;
    	padding: .25rem;
    }
}

.SectionList {
	margin: 0;
	transition: max-height .15s ease-in-out;

	@media screen and (max-width: 600px) {
		max-height: 0;
		overflow: hidden;
	    margin-top: 50px;

	    .Docs-sidebar & {
	    	padding: 0;
	    }

	    &.is-open {
	    	max-height: 500px;
	    }
	}

	li {
	    white-space: nowrap;
		display: inline-block;
		width: 100%;
		text-align: left;

		@media screen and (max-width: 600px) {
			&:last-child {
			    padding-bottom: 2rem;
			}
		}
	}

	&.is-fixed {
		position: fixed;
		top: 15px;
	}
}

.HorizontalList {
	@extend %clearfix;
	padding: 0;
  margin-top: 2rem;

	li {
		display: inline-block;
		width: auto;
		float: left;
		margin: 0;
	    text-align: center;
	    display: flex;
    	flex-direction: column;

	    &:before {
	    	content: '';
	    }

	    .Section--donate & {
	    	width: 48%;

	    	&:not(:last-child) {
	    		margin-right: 4%;
	    	}

	    	@media screen and (max-width: 600px) {
	    		width: 100%;

    			& + li {
    				margin-top: 1.5rem;
    			}
	    	}
	    }

	    .Section--license & {
	    	width: 30%;

	    	&:not(:last-child) {
	    		margin-right: 1.5%;
	    	}

	    	@media screen and (max-width: 600px) {
    			width: 100%;

    			& + li {
    				margin-top: 2rem;
    			}
    		}
	    }
	}

	.Button {
		margin-top: 1rem;
	    display: inline-block;
    	width: 100%;
	}
}

.HookUpSteps {
	counter-reset: steps;

	li {
		counter-increment: steps;

		&:before {
			content: counters(steps,".") ".";
		}
	}
}
